/* UAP_WEB/assets/css/style.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Transisi global untuk elemen interaktif */
/* Memberikan efek halus pada perubahan warna, bayangan, atau transformasi */
* {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-duration: 200ms; /* Durasi transisi default */
    transition-timing-function: ease-in-out; /* Fungsi timing default */
}

/* Transisi cepat untuk flash message */
.flash-message {
    transition: opacity 0.3s ease-out;
}